# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [3]:
#more_10=chipo(['item_price']>10)
chipo['item_price'] = chipo['item_price'].apply(lambda x : float(x[1:]))
chipo.dtypes
#chipo['item_price'] =chipo['item_price'].str.slice(1,5)
#chipo['item_price']=chipo['item_price'].astype(dtype=np.float64)
#chipo.nlargest(10,'item_price')

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [5]:
more_10=chipo[chipo['item_price'] > 10.00]
more_10.count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [84]:
Two=chipo[['item_name','item_price']]
Two.head()

                               item_name item_price
0           Chips and Fresh Tomato Salsa     $2.39
1                                   Izze     $3.39
2                       Nantucket Nectar     $3.39
3  Chips and Tomatillo-Green Chili Salsa     $2.39
4                           Chicken Bowl    $16.98

### Step 6. Sort by the name of the item

In [85]:
name=chipo.sort_values(['item_name'], ascending=(True))
name.head()

      order_id  quantity          item_name choice_description item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]    $12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1849       749         1  6 Pack Soft Drink             [Coke]     $6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]     $6.49
2713      1076         1  6 Pack Soft Drink             [Coke]     $6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [112]:
expensive=chipo.sort_values(['item_price'], ascending=(False))
expensive

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",27.75
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",26.25
3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],26.25
1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",26.25
3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78
4427,1764,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",23.50
1566,635,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",23.50
506,212,2,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",23.50
3754,1502,2,Steak Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.50
4307,1718,2,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",23.50
1753,708,2,Steak Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",23.50
2954,1175,2,Steak Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",22.96
591,243,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, So...",22.50
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50
3507,1409,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50
213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",22.50
1429,578,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Sour Cream, Guacam...",22.50
4423,1764,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",22.50
1110,459,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",22.50
816,337,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50
1923,777,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",22.50
...,...,...,...,...,...
3145,1254,1,Canned Soda,[Diet Dr. Pepper],1.09
3254,1303,1,Canned Soda,[Sprite],1.09
3683,1475,1,Canned Soda,[Coca Cola],1.09
622,256,1,Canned Soda,[Dr. Pepper],1.09
780,321,1,Bottled Water,NaN,1.09
3499,1405,1,Bottled Water,NaN,1.09
3221,1288,1,Canned Soda,[Mountain Dew],1.09
1030,424,1,Canned Soda,[Diet Dr. Pepper],1.09
3576,1434,1,Canned Soda,[Coca Cola],1.09
1805,730,1,Canned Soda,[Sprite],1.09
87,38,1,Bottled Water,NaN,1.09
821,338,1,Canned Soda,[Coca Cola],1.09
3715,1484,1,Canned Soda,[Dr. Pepper],1.09
3162,1262,1,Canned Soda,[Coca Cola],1.09
3716,1484,1,Canned Soda,[Dr. Pepper],1.09
370,160,1,Canned Soda,[Diet Coke],1.09
200,89,1,Canned Soda,[Diet Coke],1.09
2410,955,1,Bottled Water,NaN,1.09
473,202,1,Canned Soda,[Diet Dr. Pepper],1.09
3718,1485,1,Canned Soda,[Diet Dr. Pepper],1.09
956,392,1,Canned Soda,[Coca Cola],1.09
3935,1578,1,Bottled Water,NaN,1.09
2584,1025,1,Canned Soda,[Mountain Dew],1.09
195,87,1,Canned Soda,[Coca Cola],1.09
107,47,1,Canned Soda,[Dr. Pepper],1.09
3936,1578,1,Canned Soda,[Diet Dr. Pepper],1.09
2922,1162,1,Bottled Water,NaN,1.09
1396,567,1,Canned Soda,[Coca Cola],1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09
1457,591,1,Canned Soda,[Sprite],1.09

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [87]:
veggie=chipo[chipo['item_name']=='Veggie Salad Bowl']['item_name'].count()
veggie

18

### Step 9. How many times people orderd more than one Canned Soda?

In [88]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [89]:
chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity'] > 1)]['item_name'].count()

20

In [53]:
#chipo.groupby('item_name').max()

                                      item_price
item_name
6 Pack Soft Drink                         $6.49
Barbacoa Bowl                             $9.25
Barbacoa Burrito                          $9.25
Barbacoa Crispy Tacos                     $9.25
Barbacoa Salad Bowl                       $9.39
Barbacoa Soft Tacos                       $9.25
Bottled Water                             $7.50
Bowl                                      $7.40
Burrito                                   $7.40
Canned Soda                               $4.36
Canned Soft Drink                         $5.00
Carnitas Bowl                             $9.25
Carnitas Burrito                          $9.25
Carnitas Crispy Tacos                     $9.25
Carnitas Salad                            $8.99
Carnitas Salad Bowl                       $9.39
Carnitas Soft Tacos                       $9.25
Chicken Bowl                              $8.75
Chicken Burrito                           $8.75
Chicken Crispy Tacos                      $8.75
Chicken Salad                             $8.49
Chicken Salad Bowl                        $8.75
Chicken Soft Tacos                        $8.75
Chips                                     $6.45
Chips and Fresh Tomato Salsa              $5.90
Chips and Guacamole                       $8.90
Chips and Mild Fresh Tomato Salsa         $3.00
Chips and Roasted Chili Corn Salsa        $5.90
Chips and Roasted Chili-Corn Salsa        $2.39
Chips and Tomatillo Green Chili Salsa     $5.90
Chips and Tomatillo Red Chili Salsa       $5.90
Chips and Tomatillo-Green Chili Salsa     $4.78
Chips and Tomatillo-Red Chili Salsa       $7.17
Crispy Tacos                              $7.40
Izze                                      $3.39
Nantucket Nectar                          $6.78
Salad                                     $7.40
Side of Chips                             $5.07
Steak Bowl                                $9.25
Steak Burrito                             $9.25
Steak Crispy Tacos                        $9.25
Steak Salad                               $8.99
Steak Salad Bowl                          $9.39
Steak Soft Tacos                          $9.25
Veggie Bowl                               $8.75
Veggie Burrito                            $8.75
Veggie Crispy Tacos                       $8.49
Veggie Salad                              $8.49
Veggie Salad Bowl                         $8.75
Veggie Soft Tacos                         $8.75