# Data Exploration!

This an Academic work on Data Exploration

In [1]:
import pandas as pd

# Basic Info

Read the data-file (a 10 000 row subset of most rated IMDB-movies) into Pandas DataFrame and name the DataFrame-variable to df (use tab-character (\t) as the separator)

1. Use the following column-names: ID, title, year, rating, votes, duration, genres

2. Index the df with ID-column (either on reading the file or after it.)

3. Display first 5 rows of the df

4. Display last 11 rows of the df

5. Display the df-info

1 Naming the column

In [2]:
col_names=["ID", "title", "year", "rating", "votes", "duration", "genres"]

In [3]:
df = pd.read_csv("movie_data.txt", delimiter="\t", names=col_names)
df.head()

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
3,tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
4,tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

2 Resetting Index

In [4]:
df1 = df.set_index("ID")
df1.head()

,title,year,rating,votes,duration,genres
ID,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

3 First five (5) rows

In [5]:
df1.head(5)

,title,year,rating,votes,duration,genres
ID,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

4 Last Eleven (11) rows

In [6]:
df1.tail(11)

,title,year,rating,votes,duration,genres
ID,,,,,,
tt0101356,Another You (1991),1991,4.9,1359,98 mins.,Comedy|Crime
tt0421090,Zerophilia (2005),2005,6.3,1359,90 mins.,Comedy|Romance
tt0067227,The Merchant of Four Seasons (1971),1971,7.6,1359,88 mins.,Drama
tt0339727,Stateside (2004),2004,5.8,1358,97 mins.,Drama|Music|Romance
tt0218581,Scarlet Diva (2000),2000,5.2,1358,91 mins.,Drama
tt0118635,Aprile (1998),1998,6.7,1358,78 mins.,Comedy
tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

5 Information (info) of the dataset "df"

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
title       10000 non-null object
year        10000 non-null int64
rating      10000 non-null float64
votes       10000 non-null int64
duration    10000 non-null object
genres      9999 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

# Cleaning

1. Drop all the missing rows which contain any column with missing data
2. Convert the duration column to numerical representation of seconds
3. Remove the year from title column

1. Searching for missing value and dropping them

In [8]:
# Looking for missing values from whole data set
#df.isnull()

It is quite impossible to find out any missing value from the whole data set by using isnull(). Because there is a visibility problem to find the missing value from this bunch of data set. However, there is a way to get information about the missing value from the info() syntax. Let´s see that.

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
title       10000 non-null object
year        10000 non-null int64
rating      10000 non-null float64
votes       10000 non-null int64
duration    10000 non-null object
genres      9999 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

From the information of the data set by using info(), we can see that almost all of the variable have no missing value except "genres". Let´s dig deep...

In [10]:
#df1

In [11]:
#df1["genres"].isnull()
df1[df1["genres"].isnull()]

                      title  year  rating  votes  duration genres
ID
tt0990404  Chop Shop (2007)  2007     7.2   2104  84 mins.    NaN

Here, we can see there is a missing value in "genres".

Dropping the missing value

In [12]:
df2 = df1.dropna()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9999 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
title       9999 non-null object
year        9999 non-null int64
rating      9999 non-null float64
votes       9999 non-null int64
duration    9999 non-null object
genres      9999 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.8+ KB

2. Converting the duration column to numerical representation of seconds

3. Removing the year from title column

# Concatenating

1. Read crew_data.tsv.gz to DataFrame named movie_crew_df with columns ID, director_ids indexed by ID (forget the rest of the columns)
2. Read person_data.tsv.gz to DataFrame named person_df with columns person_ID, name indexed by person_ID (forget the rest of the columns)
3. Merge movie_crew_df into df with IDs and drop the columns without necessary data (hint outer-join)
4. Remove movies with more than one director and rename director_ids => director_id
5. Merge df with person_df on director_id, remove director_id and person_ID columns, rename name => director

# Exploration

1. Find ten most longest movies
2. Find Best rated movies ordered by rating DESC and Title ASC
3. What is the average duration (in minutes) of a movie?
4. Get ten most productive directors
5. How many movie has been made in the 2000's?
6. Get all the movies directed by Akira Kurosawa ordered by year DESC